[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ6DeSnSeNx2qf+Jh1Jed1c2gAlsDyt6XyHeF++RBJpU
	name = krzhck
	email = isaaxou@icloud.com
[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[core]
	excludesfile = /Users/krzhck/.config/git/ignore
